extends ../common/admin-layout

block layout-content 
  .main-content.user-profile
    
    .profile-content
      h2.section-title About Me
      .about-content
        p My journey started with graphic design and UI/UX, and over the years I've expanded into front-end web development, turning ideas into engaging, accessible, and responsive digital experiences. I enjoy building projects that not only work well but also feel great to use.
        .portfolio-link
          h3 Main Portfolio
          p This admin dashboard manages the content for my main portfolio website:
          a.btn.btn-primary(href="https://phurten.github.io/HTML-Portfolio-Assignment-PhurtenJangSherpa/#", target="_blank", rel="noopener noreferrer") 
            | View Live Portfolio
      